<div style="background:transparent url('img/ironMan.jpg') no-repeat center center /cover">
  <div class="container">
    <div class="container px-8">
      <nav class="navbar navbar-expand-lg navbar-light nav-hero box-shadow: inset">
        <div class="container-fluid d-flex justify-content-between">
          <a class="navbar-brand" href="#">
            <img src="img/Logo.png" alt="no hay imagen">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapser" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse d-md-flex justify-content-end" id="collapser">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link text-white font-weight-bold pr-3" aria-current="page" href="#">Heroes Anteriores</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white font-weight-bold pr-3" href="#">¿Cómo Funciona?</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white font-weight-bold pr-3" href="#">Iniciar sesión</a>
              </li>
            </ul>
            <span style="display: inline-block;"><img class="iconImg" src="img/IconSearch.png" alt="no sale" height="25vw" ></span>
          </div>
        </div>
      </nav>
      <div class="card special-card" style="margin-top:30px; margin-bottom:30px;width: 31rem; height: 25rem;" *ngIf="!votoRegistrado">
        <div class="card-body" >
          <h6 class="card-title text-white">Dinos tu opinión sobre</h6>
          
          <h1 class="card-subtitle mb-2  text-white font-weight-bold"  style="margin-top: 2rem;">{{ heroSelected.nombre}}?</h1>
          <h5 class="card-text my-4 text-white">{{ heroSelected.descrip}}</h5>
          <img src="img/w.png" alt="no" style="margin-right: 1rem; margin-bottom: 1.5px;">
          <a href="#" class=" text-white subrayar " >Más informacion</a>
          <h6 class="card-title text-white" style="margin-top: 5px;">¿Cual es tu voto?</h6>
          <button *ngIf="showVoteNowButton" (click)="votarAhora()" type="button" class="btn btn-success " style=" margin-left: 20rem;bottom: 100px; position: absolute;">Votar Ahora</button>
          <div class="row no-bordered">
                <button (click)="votarPositivo()" type="button" class="btn btn-link float-start" style="margin-left: -20px; margin-right: 0;"><img src="img/like.jpg" alt=""></button>
                <button (click)="votarNegativo()" type="button" class="btn btn-link float-end" style="margin-left: -27px; margin-right: -20px;"><img src="img/dislike.jpg" alt=""></button>
          </div>
        </div>
        
      </div>
    
      <div class="card special-card" style="margin-top:30px; margin-bottom:30px;width: 31rem; height: 25rem;" *ngIf="votoRegistrado">
        <div class="card-body">
            <h6 class="card-title text-white">Marvel - Ironman</h6>
            
            <div class="d-flex align-items-center mb-3">
                <img *ngIf="Votolike" src="img/likevoto.png" alt="Imagen Izquierda" class="img-fluid" style="width: 100px; height: 100px; margin-right: 50px;">
                <img *ngIf="VotoDislike" src="img/dislikevoto.png" alt="Imagen Izquierda" class="img-fluid" style="width: 100px; height: 100px; margin-right: 50px;">
                <h1 class="card-subtitle mb-0 text-white font-weight-bold">Tu voto ha sido registrado!</h1>
            </div>
    
            <h5 class="card-text my-5 text-white">{{ heroSelected.descrip }}</h5>
            
            <div class="d-flex justify-content-center">
                <button  (click)="volverAVotar()" type="button" class="btn btn-outline-light">Volver a votar</button>
            </div>
        </div>
    </div>
    
    </div>
  </div>
  <div class="progressBar" style="height: 5rem;">
    <div class="likes" [style.width]="getBarraLikesWidth() + '%'" style="text-align: right;">
      <span> <img class ="pr-2" src="img/like.png" alt="" style="display: inline;"><h1 class="text-white font-weight-bold pr-1" style="display: inline;">   {{ heroSelected.votosP }}%</h1></span>
    </div>
    <div class="dislikes" [style.width]="getBarraDislikesWidth() + '%'">
      <span><h1 class="text-white font-weight-bold pr-3 ml-4"  style="display: inline;">   {{ heroSelected.votosN }}%</h1><img class ="pr-3" src="img/dislike.png" alt="" style="display: inline;"></span>
    </div>
  </div> 
   
</div>
<div class="container px-8" style="margin-top: 30px; margin-bottom: 30px;">
  <div class="container px-8">
    <div class="row px-3 py-3" style="background-color: rgba(236,236,236,255); display: inline-flex;">
      <div class="col-sm-auto">
        <h5>Lorem Ipsum. Dolor</h5>
        <h1 class="font-weight-bold">IP lorem ip.</h1>
      </div>
      <div class="col" style="margin-top: 1rem;">
        <p>
          lore ipsum dolor sit amet, consectetur adipiscing elit. Sed sed fringilla nisi. Suspendisse vel nulla non ipsum volutpat 
          fermentum et a velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
      <div class="col-sm-auto">
        <button class="btn"><img src="img/cancel.png" alt="" style="width: 1rem; margin-top: 1.5rem;"></button>
      </div>
    </div>
    <div  style="margin-top: 20px; margin-bottom:20px ;">
      <h1>
        Super Heroes anteriores
      </h1>
    </div>
    <div class="row col-12 justify-content-around">
      <div class="card  col-5" *ngFor="let hero of heroes" style="margin-top: 40px; background-image: url('{{hero.urlImg}}'); background-repeat: no-repeat; background-position-x: center;height: 30rem; padding: -0px;">
        <div class="card-body d-flex align-items-end ">
          <div class="d-flex align-items-start flex-column pd-3 ">
            <h3 class="card-text mb-2 my-1 text-white font-weight-bold" >
              <img src="{{hero.iconUrl}}"  style="height: 30px; width: 30px; margin-right: 10px;">
            
              {{hero.nombre}}
            </h3>
            <p class="card-text text-white">{{hero.descrip}}</p>
            <p class="card-text text-white ml-auto">{{hero.extraInfo.split('en')[0]}}<br>{{'en' + hero.extraInfo.split('en')[1]}}</p>
            <button type="button" class="btn btn-outline-light">Ver detalle</button>
           
          </div>
      </div>
     <div class="progressBar" style="height: 4rem; margin-bottom: -21px;">
      <div class="likeheros" style="width:70%; text-align: right;">
        <span><img class ="pr-3" src="img/like.png" alt="" style="display: inline; height: 50%;"><p class="text-white font-weight-bold pr-3" style="display: inline;height: 50%;">64%</p></span>
      </div>
      <div class="dislikesheros" style="width:30%">
        <span><p class="text-white font-weight-bold pr-3 ml-5 mb-5"  style="display: inline;height: 70%;">36%</p><img class ="pr-4  " src="img/dislike.png" alt="" style="display: inline;height: 50%; margin-top: -2.5rem;"></span>
      </div>
  </div>
    </div>
    
  </div>
</div>
<footer style="margin-top: 10rem;">
  <hr>
  <div>
      <div class="row justify-content-between">
          <div class="col-6">
              <ul class="list-inline">
                  <li class="list-inline-item">Terminos y condiciones</li>
                  <li class="list-inline-item">Politica de tratamiento de datos</li>
                  <li class="list-inline-item">Contactenos</li>
              </ul>
          </div>
          <div class="col-3">
              <ul class="row d-flex justify-content-around">
                  <li class="list-inline-item">Siguenos</li>
                  <img src="img/facebook.png" alt="" height="30px">
                  <img src="img/twitter.png" alt="" height="30px">
              </ul>
          </div>
      </div>
  </div>
</footer>