@font-face {
    font-family: 'fonts/Rene Bieder - Franca DEMO Book.otf';
    src: url('../public/fonts/Rene\ Bieder\ -\ Franca\ DEMO\ Book.otf') format('otf'),
         url('../public/fonts/Rene\ Bieder\ -\ Franca\ DEMO\ Book.otf') format('otf');
    font-weight: normal; 
    font-style: normal;  
  }
  


  